body {
/*    padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.modal-loading {
    display: none;
    position: fixed;
    z-index: 10000000000000000000000000000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal-loading {
        display: block;
    }

.modal-dialog {
    width: 65% !important;
}

table{font-size:12px;}
    table th, table td {
        padding: 3px !important;
    }
    table th {
        text-align: center;
        background-color: #0951ab6b;
        color: #fff;
        padding: 6px !important;
    }
.datepicker th {
    background-color:#fff;
    color:#000;
    font-weight:bold;
}

@media print {
    .hide-print

{
    display: none;
}

}
